@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.35s linear;
    align-items: center;
}
.nav
{
    padding: 1rem;
    margin: 1rem;
}
.nav>h4{
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;

}
.container{
   margin: 2rem;
   margin-left: 4rem;
    width: 90%;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow:row;
}
/* .box{
    border: 2px solid green;
} */
#box1{
padding-right: 100px;
display: flex;
}
#box1>img{
    width: 35em;
}
#box2{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   margin-bottom: 8rem;
   gap:2rem;
}
#box4{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
line-height: 90px;
letter-spacing: -0.035em;

/* Gray 1 */

color: #0f0f0f;
  
}
#box5{
    width: 45%;
    font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
letter-spacing: -0.035em;

/* Gray 2 */

color: #706d6d;
}
#box6>button{
padding: 1.5rem;
background-color: #333333 ;
color: white;
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.035em;
text-transform: uppercase;
    transition: all .2s ease-in-out;
}
#box6>button:hover{
    transform: scale(1.1); 
}
footer{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: rgb(0, 47, 255);
}

@media screen and (max-width:600px) {
   .container{
    display: flex;
    flex-flow:column;
    align-items: flex-start;
   }
   /* .box{
    padding-top: 30px;
   } */
   #box1 img{
    width: 20em;
   }
   #box2{
    display: flex;
    align-items: flex-start;
   }
   #box4{
     font-size: 15px;
     line-height: 30px;
   }
   #box5{
   width: 100%;
   }
   footer{
    padding-top: 1.5rem;
   }
  }
